*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 75%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/*==This is header Start*/
header{
    height: 740px;
    background-color: #fcdb00;
    width: 100%;
}
.lheader{
    width: 45%;
    float: left;
}
.logo{
    height: 164px;
}
.logo img{
    float: left;
    padding-top: 64px;
}
.logo h1{
float: right;
padding-right: 67%;
padding-top: 65px;
font-family: 'PT Sans', sans-serif;
    font-size: 30px;
}
.lheader_text h1{
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    color: #010101;
    padding-top: 75px;
}
.lheader_text h2{
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    color: #313841;
    padding-top: 20px;
}
.lheader_text p{
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    color: #555555;
    padding-top: 20px;
}
.lheader_logo{
    
}
.lheader_logo img{
    padding-top: 40px;
padding-right: 8%;
}


/*right header*/
.rheader{
    width: 45%;
    float: right;
}
.nav{
    height: 164px;
    width: 100%;
}
.nav ul{}
.nav ul li{
    float: left;
    padding: 67px 42px;
}
.nav ul li a{
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
    color: #010101;
    text-transform: capitalize;
    font-weight: 700;
}
.last_a{
   
}



.box{
    height: 385px;
    width: 285px;
    background-color: #010101;
    margin-left: 10%;
    
    
    border-bottom: 45px solid #ffffff;
    border-top: 45px solid #ffffff;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff;
    border-radius: 35px;
}
.box img{
    float: left;
    padding-top: 170px;
padding-left: 23%;
}
.box h1{
    float: right;
    padding-top: 169px;
padding-right: 23%;
    color: #fcdb00;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}
/*==header end*/
/*==text Start*/
.text{
    height: 775px;
    background-color: #ffffff;
}
.text1{}
.text1 div{
    float: left;
    padding: 16px;
}
.text_top{
    width: 100%;
    height: 295px;
}
.text_top h1{
font-size: 32px;
text-align: center;
padding-top: 100px;
text-transform: capitalize;
font-weight: 700;
    font-family: 'PT Sans', sans-serif;
}
.text_top p{
font-size: 20px;
text-align: center;
padding: 20px 6%;
font-weight: 400;
    color: #313841;
    font-family: 'PT Sans', sans-serif;
}
.text_content{
    width: 30%;
    height: 150px;
   
}
.text_content img{
    float: left;
}
.text_content h2{
 float: right;
padding-right: 20%;
text-transform: capitalize;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}
.text_content p{
    padding-top: 36px;
padding-left: 23%;
    color: #898989;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
/*==This is text end*/
/*==This is footer start*/
footer{
    background-color: #010101;
    height: 770px;
}
.footer{
    text-align: center;
}
.footer h1{
    color: #fcdb00;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    padding-top: 90px;
}
.footer p{
    color: #898989;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding-top: 25px;
    
}
input{
    height: 50px;
    width: 580px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    color: #898989;
    border: 0;
    border-radius: 5px;
    
    margin-top: 45px;
}
button{
    height: 50px;
    width: 125px;
    background-color: #fcdb00;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 1%;
cursor: pointer;
}


.images{
    text-align: center;
}
.images img{
    padding: 90px 1%;
}
.one{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding-top: 50px;
}
.one div{
    float: left;
}
.two{
    width: 30%;
}
.three{
   width: 8%;
    padding-left: 9%;
}
footer a{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

/*===footer end*/